asyncio
re
vosk
json
os
queue
random
struct
transliterate
subprocess
time
ctypes
re
pvporcupine
simpleaudio
vosk
yaml
comtypes
fuzzywuzzy
pvrecorder
pycaw.pycaw
rich
working_tts
pydub.playback
speech_recognition
EdgeGPT
torch
num2words