asyncio
re
vosk
json
os
queue
random
struct
subprocess
time
ctypes
pvporcupine
simpleaudio
yaml
comtypes
fuzzywuzzy
pvrecorder
pycaw
rich
pydub
speech_recognition
EdgeGPT
datetime
num2words
transliterate
configparser
click
sqlite3
multiprocessing
numpy
selenium
edgedriver_autoinstaller